# Ignore Python virtual environments
venv/
.env

# Ignore environment variable files with secrets
.env

# Ignore macOS system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore local settings
*.local

# Allow example env files
!.env.example

# Ignore Terraform state, cache, and provider binaries
.terraform/
*.tfstate
*.tfstate.backup
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore VS Code settings (optional, if you don't want to share them)
.vscode/
